{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ subcategory.name | title }}</h1>
    <div class="row">
        {% for gif in subcategory.gifs %}
            <div class="col-sm4">
                <a href="{{ url('gif.index', {gifSlug: gif.slug }) }}">
                    {# 
                        asset : permet de cibler le dossier public
                        ~ : concatenation
                    #}
                    <img src="{{ asset('img/' ~ gif.source)}}" alt="" class="img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}