{% extends "base.html.twig" %}

{% block body %}
    
    <img src="{{ asset('img/' ~ gif.source)}}" alt="" class="img-fluid">

    {#<a href="{{ url('category.index')}}"> Catégorie </a>

    <a href="{{ url('category.subcategory')}}"> Sous-catégorie </a>#}

{% endblock %}