{% extends 'base.html.twig' %}

{% block body %}
    {% for gif in gifs %}
        {% for i in gif %}
            <div class="col-sm-4">
                <img src="{{ asset('img/' ~ i.slug ~'.gif') }}" alt="" class="img-fluid">
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
